<%provide(:title, "Contact") %>

<h1>Contact Us</h1>

<form action="" method="get">
  <p>
    <label for="">Email</label><br>
    <input type="email" placeholder="email address" required>
  </p>

  <p>
    <label for="">Message</label><br>
    <textarea cols="30" rows="10" placeholder="Message here..." required></textarea>
  </p>

  <p>
    <button type="submit">Send Message</button>
  </p>
</form>